.resizedTextbox 
{width: 350px; height: 30px}

table {
    
    width: 700px;
  }
  
  th {
    padding: .3em;
  }
  
  td {
    background-color:#ffffff;
    
    padding-left: .5em;
    padding-right: .5em;
  }
  #submit {
    width: 10em;  height: 3em;
}
.header{
	padding: 14px;
	text-align:center;
	background:blue;
	color:#ffffff;
	font-size: 14px;
	font-weight:bold;

}
a{
	size:5;
	color:#6c6cf2;
}
  